
.row-fluid
  .hero-unit
    %h3 Scoring by number of photos

.row-fluid
  - @sorted_users.each do |user|
    .span4
      %h3
        %a{ :href => "/user/#{user.id}" } #{user.username}
        - if user.score == 1
          %small 1 photo
        - else
          %small #{user.score} photos
      %img{ :src => user.profile_picture }
