%h1 Leaderboard
%hr

.row
  - @users.each do |user|
    .span2
      %h3
        %a{ :href => "/user/#{user.username}" } #{user.username}
        - if user.score == 1
          %small 1 point
        - else
          %small #{user.score} points
      %a{ :href => "/user/#{user.username}" }
        %img.img-polaroid{ :src => user.profile_picture }
