.row-fluid
  .span10.offset1

    %h1 About
    %hr

    %p Brooke Collins and Meghan Moe Beitiks were both students in the respected GFRY studio at the School of the Art Institute of Chicago.  Brooke was working on a project designed to alter the experience of urban landscape: Moe was working on making bacteria more visible. They were both pulling longs days in the studio over Thanksgiving weekend, and were inspired to combine their projects into Micro-Boundaries.

    %p Website built by Derek Eder and Nick Doiron at DataMade.