.row-fluid
  .span10.offset1

    %h1 About
    %hr

    %h2 What's this about?
    %p This is a game designed to help you experience two things: the needs of beneficial bacteria, and new places and perspectives in your urban environment. 

    %p There are 5 bacteria to choose from. Each of them provides a unique and beneficial service to us and our world. Some of them live in the earth’s crust, others in deep water or amongst the roots of plants. Their work is ever-present and invisible.

    %p Micro-Boundaries asks: where would this bacteria live in your city? What kind of places can you imagine that it might like? How does it become present in your world?

    %p Take a photo of a place that fits the criteria for that bacteria with Instagram. Upload with your photo map on and hashtag the bacteria type. Colonize your city with microbes. Discover new places in your city, gain new perspective, help spread the word about the good work of these ‘bugs’. 

    %h2 Who made this?

    %p Brooke Collins and Meghan Moe Beitiks were both students in the respected GFRY studio at the School of the Art Institute of Chicago.  Brooke was working on a project designed to alter the experience of urban landscape: Moe was working on making bacteria more visible. They were both pulling longs days in the studio over Thanksgiving weekend when they were inspired to combine their projects into one, and Micro-Boundaries was born.

    %p Bo Rodda and Doug Pancoast of the GFRY studio had the foresight to bring Derek Eder and Nick Doiron of DataMade into the project. Derek was key in developing the concept for the project, and Nick developed the algorithm for the complex scoring system. They built the website you’re on right now. 