.row-fluid
  .span10.offset1

    %h1 Scoring
    %hr

    %h2 First photos

    %p 
      The first time that you plant a bacteria, you get 
      %span.badge 10 points
    %p 
      If you’re the first type of a bacteria in an area, you get 
      %span.badge 10 points

    %h2 Distance

    %p After that, it depends how close you are to other bacteria of the same type. Cultivate your colony! You want to find places that are near other bacteria, but not TOO near-- find new territories, but not TOO far out-- your bacteria need to be near each other to support each other and grow. 

    %p 
      TOO CLOSE - 40 feet or less
      %span.badge 1 point
    %p 
      TOO FAR - 3.5 miles or farther
      %span.badge 1 point
    %p 
      EVERYTHING ELSE - between 
      %span.badge 3 points 
      and 
      %span.badge 28 points 

    %h2 Instagram likes

    %p 
      Based on how others judge the home you found for your bacteria on Instgram, you will get bonus points! 

    %p 
      For each Instram like, you will get 
      %span.badge 1 point