.row-fluid
  .span10.offset1

    %h1 Scoring
    %hr

    %ul

      %li The first time that you plant a bacteria, you get at least 10 points.
      %li 
        After that, your points come from distance to the nearest bacteria of your type:
        %ul
          %li If there are no bacteria with the same type, 10 points
          %li If you are too close to the nearest bacteria, that's 0 points. Now this is 40 feet.
          %li You want to be close to other bacteria, but not too close. You can get up to 28 points %li for a close one. It drops gradually to 3 points if you're a mile away.
          %li If you are 3.5 miles or farther away, you get only 1 point.
