.row-fluid
  .span10.offset1

    %h1 Get started
    %hr

    %p Welcome to Micro-Boundaries!

    %p This is a game designed to help you experience two things: the needs of beneficial bacteria, and new places and perspectives in your urban environment. 

    %p There are 5 bacteria to choose from. Each of them provides a unique and beneficial service to us and our world. Some of them live in the earth’s crust. Some of them live in deep water, in harsh conditions, amongst the roots of plants. Their work is ever-present and invisible.

    %p Micro-Boundaries asks: where would this bacteria live in your city? What kind of places can you imagine that it might like? How does it become present in your world?

    %p Take a photo of a place that fits the criteria for that bacteria with Instagram. Add the hashtag. Colonize your city with microbes. Discover new places in your city, gain new perspective, help spread the word about the good work of these 'bugs'. 