/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require_self
 */

// tweaking design of badges for microbe pages
h1 .badge{
 padding: 8px 7px;
 font-size: 21px;
 vertical-align: middle;
}

h1 .user-photo { max-height: 60px; }
h3 { font-size: 18px; }

.mbgeo{ background-color: #713833 }
.mbrhizo{ background-color: #4ea4c1 }
.mbmyco{ background-color: #d79067 }
.mbshewa{ background-color: #af4a4c }
.mbbacs{ background-color: #5c036e }

.microbe-photo { max-width: 250px;}

.microbe img { float: left; padding: 5px 5px 5px 0;}
.microbe h3 { line-height: 20px; margin-bottom: 5px;}